div.ajax-progress.ajax-progress-throbber {
    position: absolute;
    width: 0;
    height: 0;
}
.ajax-progress-throbber .throbber {
    /*background: transparent url(../../../../misc/throbber-active.gif) no-repeat 0 center;*/
    display: block;
    background: none;
    width: 20px;
    height: 30px;
    border: 5px #000 solid;
    border-radius: 30px;
    border-top: none;
    border-bottom: none;
    animation: progressspin 1s linear infinite;
}
@keyframes progressspin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.ajax-progress-throbber .message {
    display: inline-block;
    padding: 0px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    word-break: break-word;
    white-space: nowrap;
    background: #000;
    border-radius: 20px;
    box-shadow: 6px 2px 3px rgba(0, 0, 0, 0.3);
}