/**
 * @file
 * Visual styles for AWTur's blocks.
 */

/* Block has its own content wrapper. */
/*.block .content {
  margin-top: 10px;
}*/
/*.sidebar .block {*/
/*  border-radius: 10px;*/
/*  box-shadow: 0 0 3px #999;*/
/*}*/