/**
 * @file
 * Styles for AWTur's breadcrumbs.
 */

.breadcrumb {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.929em;
  font-weight: bold;
}
.region-breadcrumb {
  padding: 0 15px 0.25em;
}
nav.breadcrumb li {
  padding: 3px 10px;
  background: #fff;
  border: 1px #b78700 solid;
  border-radius: 6px;
  box-shadow: 0 0 3px #999;
  line-height: 2.2;
}
nav.breadcrumb li:first-child {
  padding-left: 30px;
}
nav.breadcrumb li:not(:first-child) {
  margin-left: 2em;
}
nav.breadcrumb li:before {
  position: absolute;
  /* margin-left: -15px; */
  margin-left: -2em;
  color: brown;
}
nav.breadcrumb li:first-child:before {
  content: "";
  position: absolute;
  margin-top: 3px;
  margin-left: -25px;
  width: 22px;
  height: 22px;
  /*top: 3px;
  left: 6px;*/
  /* background: #ffb229; */
  background-image: url(../../images/icons/home_main-menu.svg);
  background-repeat: no-repeat;
}
nav.breadcrumb a {
  color: #ad875a;
}
nav.breadcrumb a:hover {
  color: #7d4503;
}