/**
 * @file
 * Visual styles for AWTur's dropbutton component.
 */

.js .dropbutton-widget {
  overflow: hidden;
  margin: 0.125em 0;
  cursor: pointer;
  text-align: center;
  color: #373151;
  border: 1px solid;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4 #d2d2d2;
  border-radius: 1em;
  background-color: #fff;
}
.js .dropbutton-widget:hover {
  border-color: #e4e4e4 #d2d2d2 #b4b4b4 #d2d2d2;
}
.js .dropbutton-widget .button {
  margin: 0;
  padding: 0.32em 1em;
  border: none;
  background: transparent none;
}
.js .dropbutton-multiple .dropbutton-widget,
.js[dir="rtl"] .dropbutton-multiple .dropbutton-widget {
  padding: 0;
  width: fit-content;
}
.js .dropbutton-multiple .dropbutton-widget .dropbutton {
  position: relative;
  padding-right: 2em; /* LTR */
}
.js[dir="rtl"] .dropbutton-multiple .dropbutton-widget .dropbutton {
  padding-right: 0;
  padding-left: 2em;
}
.js .dropbutton-multiple .dropbutton-widget .dropbutton-action a {
  margin-right: 0; /* LTR */
}
[dir="rtl"].js .dropbutton-multiple .dropbutton-widget .dropbutton-action a {
  margin-left: 0;
}
.js .dropbutton .secondary-action {
  border-top-color: #ccc;
}
.js .dropbutton a {
  color: #3a3a3a;
  border-bottom: 0 none;
}
.js .dropbutton .dropbutton-action:hover,
.js .dropbutton a:hover {
  border-bottom: 0 none;
  background: burlywood;
}
/*----override the color of the dropbutton arrow-----*/
.dropbutton-widget .dropbutton-arrow {
  color: #FF5F5F;
}
.dropbutton-widget .dropbutton li {
  font-size: clamp(0.8125rem, 0.7513rem + 0.3061vw, 1rem);
}
