/**
 * @file
 * Visual styles for AWTur's featured top.
 */

.featured-top {
  max-width: 1300px;
  /*border: 1px solid #b78700;*/
  border-radius: 10px;
  margin: 64px auto;
  padding: 20px 10px 45px;
  text-align: center;
  text-shadow: 1px 1px #fff;
  box-shadow: 0 0 3px #999;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.4;
}
.featured-top h2 {
  font-size: 1.2em;
  line-height: 1;
}
.featured-top p {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 560px) {
  .featured-top nav {
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px;
    min-width: 300px;
    text-align: center;
  }
}

