/* ------------------ animate 1 ------------------ */
.top-region #block-awtur-branding .site-branding__text:before,
.top-region #block-awtur-branding .site-branding__text:after {
    position: absolute;
    content: "";
    display: block;
    width: 300px;
    height: 70px;
    left: 50%;
    transform: translate(-50%, -20px);
    background-repeat: no-repeat;
    /*background-color: #e6007475;*/
}
.top-region #block-awtur-branding .site-branding__text:before {
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.top-region #block-awtur-branding .site-branding__text:before {
    animation: topBubbles ease-in-out 0.75s forwards infinite;
}
@keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
.top-region #block-awtur-branding .site-branding__text:after {
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.top-region #block-awtur-branding .site-branding__text:after {
    animation: bottomBubbles ease-in-out 0.85s forwards infinite;
}
@keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
/* ------------------ animate 2 ------------------ */
.site-branding__name {
  font-size: 18px;
}
.top-region #block-awtur-branding .site-branding__name:before,
.top-region #block-awtur-branding .site-branding__name:after {
    content: "";
    /*position: absolute;*/
    /*background-color: #e6007475;*/
    /*perspective: 500px;
    transform-style: preserve-3d;
    transform: rotate3d(2, 1, -1, 90deg);*/
    border-radius: 50%;
    width: 22px;
    height: 22px;
    /*top: calc(50% - 8px);*/
    /*top: 220%;*/
    background: #fff;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
    display: block;
    margin-bottom: -22px;
}
.top-region #block-awtur-branding .site-branding__name:before {
    /*left: 60%;*/
    opacity: 0.7;
    border-top-right-radius: 0;
    transform-origin: right top;
    animation-name: flapL;
    left: 63px;
    top: 18px;
}
.top-region #block-awtur-branding .site-branding__name:after {
    /*left: 77%;*/
    opacity: 0.5;
    border-top-left-radius: 0;
    transform-origin: left top;
    animation-name: flapR;
    left: 83px;
}
@keyframes flapL {
    25%, 50% {
      transform: rotateY(-45deg);
    }
    12.5%, 37.5%, 65% {
      transform: rotateY(45deg);
    }
    0%, 100% {
      transform: rotateY(-30deg);
    }
}
@keyframes flapR {
    25%, 50% {
      transform: rotateY(45deg);
    }
    12.5%, 37.5%, 65% {
      transform: rotateY(-45deg);
    }
    0%, 100% {
      transform: rotateY(30deg);
    }
}
/* ------------------ animate end ------------------ */