/**
 * @file
 * Visual styles for AWTur's main-content component.
 */
 .main-content{
  background: #FFFFFF;
  /* box-shadow: 8px 8px 44px rgb(0 0 0 / 10%); */
  box-shadow: 0 0 11px rgba(189, 129, 0, 0.5);
  border-radius: 10px;
}
.main-content h2 {
  margin-bottom: 2px;
  font-size: 1.429em;
  line-height: 1.4;
}

.layout-sidebar-first .main-content {
    box-shadow: unset;
} 

body.path-node.layout-no-sidebars .pages-edit-add-node .main-content {
  padding: 0;
}

body.page-node-type-page.layout-no-sidebars .pages-edit-add-node .main-content {
    padding: 0 30px;
}

@media all and (min-width: 851px) {
  .main-content {
    position: relative;
    float: left; /* LTR */
  }
  [dir="rtl"] .main-content {
    float: right;
  }
  .layout-two-sidebars .main-content {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
  }
  .layout-one-sidebar .main-content {
    width: 75%;
  }
  .layout-no-sidebars .main-content {
    width: 100%;
  }
  .layout-sidebar-first .main-content {
    margin-right: 0; /* LTR */
    margin-left: 25%; /* LTR */
  }
  [dir="rtl"] .layout-sidebar-first .main-content {
    margin-right: 25%;
    margin-left: 0;
  }
  .layout-sidebar-second .main-content {
    margin-right: 25%; /* LTR */
    margin-left: 0; /* LTR */
  }
  [dir="rtl"] .layout-sidebar-second .main-content {
    margin-right: 0;
    margin-left: 25%;
  }
}