/**
 * @file
 * Visual styles for AWTur's fix.
 */

/* Block has its own content wrapper. */


/*
#block-zaalgroepen ul.clearfix.menu {
  text-align: justify;
  line-height: 0;
  font-size: 1px;
  padding: 0;
}
#block-zaalgroepen ul li {
  display: block;
  float: left;
  margin: 7px auto;
  width: 49%;
  text-align: center;
  font-size: 14px;
  line-height: normal;
}
#block-zaalgroepen ul li a {
  display: inline-block;
  padding-top: 10px;
  width: 122px;
  height: 140px;
  background: #fbfbfb;
  border: 1px solid #777;
  vertical-align: bottom;
}*/


