/**
 * @file
 * Styles for AWTur's tables.
 */
 
.table-wrapper{
  overflow: auto;
}
table {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 0.857em;
}
table table {
  font-size: 1em;
}
tr {
  padding: 0.1em 0.6em;
  border-bottom: 1px solid #ccc;
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}
tr:nth-child(odd) {
  background-color: #f9f9f9;
  background: rgba(0, 0, 0, 0.03);
}
thead > tr {
  border-bottom: 1px solid #000;
}
tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}
tr:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
table tr th {
  padding: 1em 0.75em;
  border-bottom-style: none;
  background-color: rgba(190, 140, 80, 0.2);
  color: #fff;
}
table tr th,
table tr th a,
table tr th a:hover,
table tr th a:focus {
  color: #fff;
  font-weight: bold;
}
table tbody tr th {
  vertical-align: top;
}
tr td,
tr th {
  padding: 4px 9px;
  text-align: left; 
  border: 1px solid #fff;
}
.tabledrag-handle:hover,
.tabledrag-handle {
  border: none;
}
[dir="rtl"] tr td,
[dir="rtl"] tr th {
  text-align: right;
}

@media screen and (max-width: 37.5em) { 
  th.priority-low,
  td.priority-low,
  th.priority-medium,
  td.priority-medium {
    display: none;
  }
}

@media screen and (max-width: 60em) { 
  th.priority-low,
  td.priority-low {
    display: none;
  }
}

a.tabledrag-handle .handle {
  width: 22px;
  height: 22px;
}