/* ------------------ top-region ------------------ */

.top-region.region-secondary-menu .menu-item a,
   .top-region.region-secondary-menu .menu-item a.is-active {
       color: #000;
       text-decoration: none;
   }
   .top-region {
    display: flex;
    padding: 32px 0;
    align-items: center;
  }
  #block-sitebranding { order: 1; }
  #block-awtur-main-menu { order: 2; }
  #block-languageswitcher { 
    order: 3;
    margin-right: auto;
  }
  #block-awtur-account-menu { order: 4; }
  @media all and (max-width: 851px) {
    #block-awtur-main-menu { order: 1; }
    #block-sitebranding { order: 2; }
    #block-languageswitcher { order: 3; }
    #block-awtur-account-menu { order: 4; }
  }
  
   /* ------------------ account-menu ------------------ */
   
   .top-region #block-awtur-account-menu {
       margin-right: auto;
   }
   .user-account-profile {
    display: flex;
    gap: clamp(0.25rem, -0.1029rem + 1.7647vw, 1rem);
    align-items: center;
   }
   .user-profile-photo {
    position: relative;
   }
   .user-profile-photo img.profile-picture {
    width: clamp(1.75rem, 0.9559rem + 3.9706vw, 3.4375rem);
    height: clamp(1.75rem, 0.9559rem + 3.9706vw, 3.4375rem);
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
   }
   .user-profile-name {
    text-transform: capitalize;
    color: #000000;
   }
   @media all and (max-width: 751px) {
    .user-profile-name {
        display: none;
       }
  }
   .top-region #block-awtur-account-menu ul.clearfix {
    display: none;
    position: absolute;
    right: 5%;
    margin: 8px 3px;
    width: 140px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
    z-index: 200;
    text-align: justify;
  }
   .top-region #block-awtur-account-menu:hover ul.clearfix {
    display: block;
  }
   .top-region #block-awtur-account-menu:hover ul.clearfix:before {
       content: "";
       display: block;
       position: absolute;
       top: -20px;
       right: 10px;
       border: 10px transparent solid;
       border-bottom: 10px #fff solid;
   }
   .top-region #block-awtur-account-menu:hover ul.clearfix li {
       display: block;
       text-align: left;
       border-radius: 6px;
   }
   .top-region #block-awtur-account-menu:hover ul.clearfix li:not(:last-child) {
       border-radius: 6px 6px 0 0;
       border-bottom: 1px #ddd solid;
   }
   .top-region #block-awtur-account-menu:hover ul.clearfix li:hover {
       padding-left: 3px;
       background: #f3f3f3;
       transition: 0.3s;
   }
   .top-region #block-awtur-account-menu:hover ul.clearfix li a {
       display: block;
   }
   /* ------------------ account-menu end ------------------ */


   /* ------------------ main-menu ------------------ */
   .top-region #block-awtur-main-menu {
       margin-right: auto;
   }
   .top-region #block-awtur-main-menu ul.clearfix li:hover {
       background: #f2f2f2;
       transition: 0.3s;
   }
   @media all and (max-width: 851px) {
   .top-region #block-awtur-main-menu:before {
       content: "";
       display: block;
       padding: 8px;
       padding-left: 14px;
       width: 60px;
       height: 40px;
       /*border: 3px #bbb solid;
       border-left: none;
       border-radius: 0 20px 20px 0;*/
       box-sizing: border-box;
       background-image: url(../../images/icons/main_menu.svg);
       background-origin: content-box;
       background-repeat: no-repeat;
   }
   .top-region #block-awtur-main-menu ul.clearfix {
       display: none;
   }
   .top-region #block-awtur-main-menu:hover ul.clearfix {
       display: block;
       position: absolute;
       left: 0;
       margin: 8px 3px;
       width: 140px;
       background: #fff;
       border-radius: 6px;
       box-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
       z-index: 200;
   }
   .top-region #block-awtur-main-menu:hover ul.clearfix:before {
       content: "";
       display: block;
       position: absolute;
       top: -28px;
       border: 20px transparent solid;
       border-bottom: 10px #fff solid;
   }
   .top-region #block-awtur-main-menu:hover ul.clearfix li {
       display: block;
       text-align: left;
       border-radius: 6px;
   }
   .top-region #block-awtur-main-menu:hover ul.clearfix li:not(:last-child) {
       border-radius: 6px 6px 0 0;
       border-bottom: 1px #ddd solid;
   }
   .top-region #block-awtur-main-menu:hover ul.clearfix li:hover {
       padding-left: 3px;
       background: #f3f3f3;
       transition: 0.3s;
   }
   .top-region #block-awtur-main-menu:hover ul.clearfix li a {
       display: block;
   }
   }
   /* ------------------ main-menu end ------------------ */

   
   /* ------------------ branding ------------------ */
   .top-region #block-sitebranding {
       margin: 0 auto;
    }
   .top-region #block-sitebranding .site-branding__text {
       padding: 1.286em 0 0;
       font-size: 10px;
       text-shadow: 0 0 10px #000;
   }
   .top-region #block-sitebranding .site-branding__text a {
       color: #ffa422;
       padding: 6px 18px;
       background: #333;
       border: 2px white solid;
       border-radius: 20px;
       transition: 0.6s;
   }
   .top-region #block-sitebranding .site-branding__text a:hover {
       color: #fff;
   }
   /* ------------------ branding end ------------------ */
   