.child-friendly,
.is-optional{
  margin: 1rem 0;
}

.child-friendly label,
.is-optional label {
  font-weight: 700 !important;
}

.field-is_optional {
  color: #BD8100;
  padding: 16px;
}

.field-is_optional .child-friendly-render {
    float: right;
}
.reservation-box {
  border: 1px solid #ddd;
  padding: 1rem;
  background-color: #f8f8f8;
  border-radius: 6px;
  margin-bottom: 1.5rem;
}

.reservation-box {
  img {
    width: 45px;
    height: auto;
    object-fit: scale-down;
  }
}

.reservation-heading {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #333;
}

.reservation-item {
  margin-bottom: 0.5rem;
}


.paragraph--type--sleeping-accommodation-room {
  .room-details-inline {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 1.5rem;

    .room-field {
      flex: 1 1 200px;
      min-width: 150px;
    }
  }
  .room-card {
    padding: 1.5rem;
    border-radius: 12px;
    /* background: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    font-family: Arial, sans-serif;
  }
  .room-card h2 {
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
  }
  .room-field {
    margin-bottom: 1rem;
  }
  .room-field label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.25rem;
  }
  .room-field .value {
    padding-left: 10px;
  }
  .room-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .room-photos img {
    max-width: 100px;
    border-radius: 6px;
    object-fit: cover;
  }
  .room-description {
    margin-top: 1rem;
  }

}

