/**
 * @file
 * Overall specifications for AWTur.
 */
 * {
  box-sizing: border-box;
}
/* 1) OPEN SANS */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/OpenSans-Regular.woff2') format('woff2'),
       url('../../fonts/OpenSans-Regular.woff') format('woff'),
       url('../../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/OpenSans-Italic.woff2') format('woff2'),
       url('../../fonts/OpenSans-Italic.woff') format('woff'),
       url('../../fonts/OpenSans-Italic.ttf') format('truetype');
}
/* Let op: hier 'font-style: normal' i.p.v. bold, en 'font-weight: 700' */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/OpenSans-Bold.woff2') format('woff2'),
       url('../../fonts/OpenSans-Bold.woff') format('woff'),
       url('../../fonts/OpenSans-Bold.ttf') format('truetype');
}

/* 2) MONTSERRAT ALTERNATES */
@font-face {
  font-family: "MontserratAlternates";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/MontserratAlternates-Regular.woff2') format('woff2'),
       url('../../fonts/MontserratAlternates-Regular.woff') format('woff'),
       url('../../fonts/MontserratAlternates-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "MontserratAlternates";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/MontserratAlternates-Bold.woff2') format('woff2'),
       url('../../fonts/MontserratAlternates-Bold.woff') format('woff'),
       url('../../fonts/MontserratAlternates-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "MontserratAlternates";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/MontserratAlternates-Italic.woff2') format('woff2'),
       url('../../fonts/MontserratAlternates-Italic.woff') format('woff'),
       url('../../fonts/MontserratAlternates-Italic.ttf') format('truetype');
}
@font-face {
  font-family: "MontserratAlternates";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/MontserratAlternates-BoldItalic.woff2') format('woff2'),
       url('../../fonts/MontserratAlternates-BoldItalic.woff') format('woff'),
       url('../../fonts/MontserratAlternates-BoldItalic.ttf') format('truetype');
}

/* 3) RALEWAY */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/Raleway-Regular.woff2') format('woff2'),
       url('../../fonts/Raleway-Regular.woff') format('woff'),
       url('../../fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/Raleway-Bold.woff2') format('woff2'),
       url('../../fonts/Raleway-Bold.woff') format('woff'),
       url('../../fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/Raleway-Bolditalic.woff2') format('woff2'),
       url('../../fonts/Raleway-BoldItalic.woff') format('woff'),
       url('../../fonts/Raleway-BoldItalic.ttf') format('truetype');
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: clamp(0.8125rem, 0.7559rem + 0.3774vw, 1.0625rem);
  line-height: 1.5;
}
a,
.link {
  text-decoration: none;
  font-family: "Open Sans", Arial, sans-serif;
}
a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
  border-bottom-width: 3px;
  border-bottom-color: #eaa306;
  border-bottom-style: solid;
}
.link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 a,
h2 a {
  border-bottom: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "MontserratAlternates";
}

a {
  border-bottom: 3px transparent solid;
  transition: border-bottom 1s;
}

/**
 * Reusable heading classes are included to help modules change the styling of
 * headings on a page without affecting accessibility.
 */
h1,
.heading-a {
  margin: 1em 0 0.5em;
  color: #000;
  font-size: 1.357em;
  font-weight: inherit;
}
h2,
.heading-b {
  margin: 1em 0 0.5em;
  font-size: 1.143em;
  font-weight: inherit;
}
h3,
.heading-c {
  margin: 1em 0 0.5em;
  font-size: 1.092em;
  font-weight: inherit;
}
h4,
.heading-d {
  margin: 1em 0 0.5em;
  font-size: 1.05em;
  font-weight: inherit;
}
h5,
.heading-e {
  margin: 1em 0 0.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.889em;
  font-weight: inherit;
}
h6,
.heading-f {
  margin: 1em 0 0.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.67em;
  font-weight: inherit;
}
p {
  margin: 0 0 1.2em;
}
del {
  text-decoration: line-through;
}

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  border-left: 1px solid #bbb; /* LTR */
  background: #f7f7f7;
  font-style: italic;
}
[dir="rtl"] blockquote {
  border-right: 1px solid #bbb;
  border-left: none;
}
blockquote:before {
  margin-right: 0.2em; /* LTR */
  content: "\201C";
  vertical-align: -0.4em;
  color: #bbb;
  font-size: 3em;
  line-height: 0.1em;
}
[dir="rtl"] blockquote:before {
  margin-right: 0;
  margin-left: 0.2em;
  content: "\201D";
}
blockquote:after {
  content: "\201D";
  vertical-align: -0.45em;
  color: #bbb;
  font-size: 3em;
  line-height: 0.1em;
}
[dir="rtl"] blockquote:after {
  content: "\201C";
}
blockquote > p:first-child {
  display: inline;
}
.feed-icon {
  display: block;
  margin: 25px 0 0 0;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
ol {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 1em 0.25em 0;
}
ol ol,
ul ul {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}
[dir="rtl"] ol ol,
[dir="rtl"] ul ul {
  padding: 0 1em 0.25em 0;
}

/** Hide remove element button */
[id^="edit-field-regels-"][id$="-actions-delete"] {
  display: none;
}

[id^="edit-field-prijs-eenheid-"][id$="-actions-delete"] {
  display: none;
}
