:root {
    --brand-color: #BD8100;
    --form-color: #fffef3;
    --text-color: #000;
    --pure-white: #fff;
    --light-wood: #be8c5033;
    --form-button: sienna;
    --button: #e0be58;
    --border-color: #e0be59;
  }