<div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-field-resuse-menu-and-services-602 form-item-field-resuse-menu-and-services-602">

  <input data-drupal-selector="edit-field-resuse-menu-and-services-602" type="checkbox" id="edit-field-resuse-menu-and-services-602" name="field_resuse_menu_and_services[602]" value="602" class="form-checkbox">

  <label for="edit-field-resuse-menu-and-services-602" class="option"><span class="views-field views-field-id">627&nbsp;</span>Service: Q in house casino €120</label>

</div>
