{% if multiple %}
  <div class="items-fotos">

    {% set total = items|length %}
    {% set required = 5 %}

    {% if total > 0 %}
      {% for i in 0..(required - 1) %}

        {% set item = items[i % total] %}

        <div class="item-foto-{{ i }}">
          {{ item.content }}
        </div>

      {% endfor %}
    {% endif %}

    {# Hidden images if more than 5 #}
    {% if total > 5 %}
      {% for item in items|slice(5) %}
        <div class="hidden">
          {{ item.content }}
        </div>
      {% endfor %}
    {% endif %}

  </div>
{% endif %}