  .tab-node-bedrijf{
    font-size: clamp(0.875rem, 0.8184rem + 0.3774vw, 1.125rem);
    color: darkslategrey;
    padding: 16px;
    background: #fbfbfb;
    border: 6px #eee solid;
    border-top: 2px #ddd solid;
    border-bottom: 2px #ddd solid;
    border-radius: 9px;
    margin: 64px 0 32px;
  }
  .body-bedrijf-read-more, .body-bedrijf-no-more{
    font-weight: 700;
    padding: 10px;
    color: #cd8723;
    border: 1px solid #cd8723;
    cursor: pointer;
    background: unset;
    border-radius: 5px;
  }
  /* .read-more-tag{
    color: green;
  } */
  .body-bedrijf-no-more{
    filter: blur();
  }
  #bedrijf-body-text-full{
    display: none;
  }
  