.comfort-terms{
  display: none;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  animation-timing-function: ease-in;
  text-align: center;
}
@keyframes fadeIn {
  0% {
    transform: scale(0, 0.7);
  }
  50% {
    transform: scale(0.7, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.bedrijf-comfort{
  font-size: clamp(0.8125rem, 0.77rem + 0.283vw, 1rem);
}
.bedrijf-comfort-linken{
  padding: 16px;
  background: #fbfbfb;
  border: 6px #eee solid;
  border-top: 2px #ddd solid;
  border-bottom: 2px #ddd solid;
  border-radius: 9px;
  margin: 64px 0;
}
.tab-bedrijf-comfort-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(0.25rem, -0.275rem + 2.8vw, 2rem);
  margin: clamp(0.25rem, 0.025rem + 1.2vw, 1rem);
  cursor: pointer;
}
.bedrijf-comfort-mobiliteit{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:16px;
  margin: 32px 8px;
}
.bedrijf-comfort-mobiliteit i{
  width: 100px;
  height: 75px;
  background-repeat: no-repeat;
  display: inline-block;
}
.bedrijf-comfort-voertuig{
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  padding: clamp(0.5rem, 0.2935rem + 0.8696vw, 1rem)  clamp(0rem, -1.6522rem + 6.9565vw, 4rem);
}
@media only screen and (max-width: 520px) {
  .bedrijf-comfort-voertuig{
   border: none;
  }
}
.comfort-terms .field__items, .default-terms .field__items {
  display: flex;
  gap: clamp(1rem, 0.7rem + 1.6vw, 2rem);
  flex-wrap: wrap;
  padding: clamp(0.5rem, 0.05rem + 2.4vw, 2rem);
  justify-content: center;
}
.comfort-terms .field__item, .default-terms .field__item {
border-radius: 20px;
padding: 4px 16px;
}
.comfort-terms .field__item:nth-child(3n+1), .default-terms .field__item:nth-child(3n+1) {
background-color: #BDEBFF;
}
.comfort-terms .field__item:nth-child(3n+2), .default-terms .field__item:nth-child(3n+2) {
background-color: #FAEDAD;
}
.comfort-terms .field__item:nth-child(3n+3), .default-terms .field__item:nth-child(3n+3) {
background-color: #D4F8B9;
}
.comfortlinks, .comfortlinkss{
padding: clamp(0.25rem, 0.025rem + 1.2vw, 1rem);
filter: opacity(0.3);
}
.comfortlinks:hover, .comfortlinkss:hover{
filter: opacity(1);
}
.comfortlinks img, .comfortlinkss img{
max-width: 70px;
max-height: 50px;
}