.tab-bedrijf-locatie{
  display: grid;
  grid-template-columns: 62% auto;
  font-size: clamp(0.8125rem, 0.77rem + 0.283vw, 1rem);
  color: slategrey;
  padding: 16px;
  background: #fbfbfb;
  border: 6px #eee solid;
  border-top: 2px #ddd solid;
  border-bottom: 2px #ddd solid;
  border-radius: 9px;
  margin: 64px 0;
}
@media only screen and (max-width: 520px) {
  .tab-bedrijf-locatie{
    grid-template-columns: auto;
  }
  .tab-bedrijf-locatie-afstanden {
    margin-bottom: 16px;
  }
}
.tab-bedrijf-locatie-afstanden{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-content: center;
}
.tab-bedrijf-locatie-afstand{
  align-self: center;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  padding: 8px 16px;
  transition: box-shadow 0.2s ease-in-out; /* Add a transition effect, for the hovering */
}
.tab-bedrijf-locatie-afstand:hover{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.tab-bedrijf-locatie-icon-afstand-bus, .tab-bedrijf-locatie-icon-afstand-metro, .tab-bedrijf-locatie-icon-afstand-tram, .tab-bedrijf-locatie-icon-afstand-trein{
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 36px;
}
.tab-bedrijf-locatie-afstand p{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0;
}
.tab-bedrijf-locatie-map {
border: 2px solid rgb(159, 171, 182);
border-radius: 16px;
transition: box-shadow 0.2s ease-in-out; 
margin-left: 4px;
}
.tab-bedrijf-locatie-map:hover {
box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}