/*----Grid images content type zaal----*/
.items-fotos{
     display: grid;
     gap: clamp(0.3125rem, 0.2138rem + 0.6579vw, 0.625rem);;
     /* grid-template-columns: 37% 11% 11% 41%; */
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 101px 101px 98px;
     max-width: 1100px;
     margin: auto;
     padding: 4px;
}
@media only screen and (max-width: 599px) {
     .items-fotos {
       grid-template-columns: 68% 32%;
       grid-template-rows: clamp(6.25rem, 3.125rem + 16.6667vw, 9.375rem);
     }
     .item-foto-1 img{
       border-radius: 0 8px 0 0;
     }
     .item-foto-2 img{
       border-radius: 0 0 8px 0;
     }
   }
.items-fotos img, .bedrijfs-fotos-items img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.items-fotos-beknopt img{
     width: 100%;
     height: 7em;
     object-fit: cover;
     border-radius: 8px;
 }
.items-fotos-beknopt img:hover{
     filter: brightness(0.8);
 }
.item-foto-0{
     grid-row: 1/4;
     grid-column: 1/2;
}
.item-foto-0 img{
  border-radius: 8px 0 0 8px;
}
.item-foto-1{
     grid-row: 1/3;
     grid-column: 2/4;
}
.item-foto-2{
     grid-row: 3/4;
     grid-column:2/3 ;
}
.item-foto-3{
     grid-row: 3/4;
     grid-column: 3/4 ;
     
}
.item-foto-4{
     grid-row: 1/4;
     grid-column: 4/5;
}
.item-foto-4 img{
     border-radius: 0 8px 8px 0;
}

.items-fotos-beknopt{
     display: grid;
     gap: 0.5em;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: 1fr 1fr;
}
.item-foto-beknopt-0{
     grid-column: 1 / 6;
}
.item-foto-beknopt-1{
     grid-column: 6 / 13;
}
.item-foto-beknopt-2{
     grid-column: 1 / 5;
}
.item-foto-beknopt-3{
     grid-column: 5 / 9;
}
.item-foto-beknopt-4{
     grid-column: 9 / 13;
     grid-row: 2 / 3;
}
.item-foto-beknopt-4 img{
     filter: contrast(10%);
}
.item-foto-beknopt-4 img:hover{
     filter: contrast(5%);
}
.number-fotos-beknopt{
     grid-column: 9 / 13;
     grid-row: 2 / 3;
     color: aliceblue;
     text-align: center;
     margin: auto;
     font-size: 1.5em;
     font-weight: 700;
     filter: contrast(100%);
}
