/*----general----*/
.blok-autor-header {
    background: #FFFFFF;
    box-shadow: 8px 8px 44px rgb(0 0 0 / 10%);
    border-radius: 10px;
    margin: 64px auto;
}
.blok-autor-header1{
    display: grid;
    grid-template-columns: 35% 1fr;
}
.blok-autor-header2{
    display: grid;
    grid-template-columns: 1fr 20%;
    margin-top: clamp(2rem, 1.4rem + 3.2vw, 4rem);
}

/*----title-logo----*/
.blok-autor-header .autor-header-logo-label{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 4px;
    align-items: center;
    padding: 8px;
}
.autor-header-logo, .autor-header-label, .autor-header-adres {
    text-align: center;
}
.blok-autor-header .autor-header-label h1{
    text-align: center;
    font-size: clamp(1.5rem, 1.3421rem + 1.0526vw, 2rem);
    font-weight: 600;
}

/*----toggle menu bedrijf----*/
.blok-autor-header .autor-header-menu{
    color: lightslategray;
    align-items: end;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: clamp(0.5rem, -1rem + 4vw, 1.5rem);
}
.blok-autor-header #togglelinks-wissen{
    font-size: clamp(1.5rem, 1.275rem + 1.2vw, 2.25rem);
    line-height: 1;
    color: black;
}
.blok-autor-header #togglelinks-wissen:hover {
    color:#FF5F5F;
}


/*----troevenbar----*/
.blok-autor-header .troevenbar{
    display: flex;
    gap:clamp(0.5rem, 0rem + 1.2308vw, 1rem);
    flex-wrap: wrap;
    justify-content: center;
}
.blok-autor-header .troevenbar div{
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: 5px;
    background-color: #fff7ec;
    border: 1px #e4ceae solid;
    border-radius: 18px;
    transition: 0.3s;
    padding: 4px;
    
}
.blok-autor-header .troevenbar div p{
    display: none;
}

/*----lees meer link----*/
.blok-header-lees-meer a{
    font-size: 0.9em;
    color: red;
}
.troeve1 {
    padding: 4px;
}
.blok-header-lees-meer a:hover {
        border-bottom-color: #ececec;
}

.blok-autor-header .blok-header-keurmerk{
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 2px solid rgba(0, 0, 0, 0.15);
    background-color: #FCFCFC;
    display: flex;
    justify-content: space-evenly;
    border-radius: 19px 0;
    padding-top: 8px;
    position: relative;
    left: clamp(-0.25rem, -4.75rem + 12vw, 5rem);
    width: clamp(7.8125rem, 5.1339rem + 7.1429vw, 10.9375rem);
}
.blok-autor-header .blok-header-keurmerk div{
    padding: 8px;
}

 /* Style the tab content */
  .tabcontent {
    display: none;
}
.blok-autor-header .togglelinks{
    cursor: pointer;
    padding: 8px;
}
.blok-autor-header .togglelinks:hover{
    color: #FF5F5F;
    text-decoration: underline;
    text-underline-offset: 5px;
}
@media only screen and (max-width: 599px) {
    .blok-autor-header1, .blok-autor-header2 {
        grid-template-columns:1fr ;
      }
    .blok-autor-header .blok-header-keurmerk{
        display: none;
    }
    .blok-autor-header .troevenbar{
        display: none;
    }
}
 