
/*page kaart for global styling*/

/*fix region sidebar----this gives fault layout when user is not logged in
/*@media (min-width: 851px) {
  #page main#content, #page div#sidebar-first #page div#sidebar-second {
    float: none;
    margin: 0;
    margin-bottom: 30px;
    padding: 10px;
    width: auto;
  }
}*/
/* form#views-form-flag-bookmark-page-mijn-zaal-lijst #edit-header {
  text-align: center;
} */
/* form#views-form-flag-bookmark-page-mijn-zaal-lijst .form-item-action {
  float: right;
} */
/*form#views-form-flag-bookmark-page-mijn-zaal-lijst #edit-actions,*/
/*form#views-form-flag-bookmark-page-mijn-zaal-lijst #edit-actions--2 {*/
/*  text-align: center;*/
/*}*/


