
/*page kaart for global styling*/

/*fix region sidebar*/
@media (min-width: 851px) {
  main#content, div#sidebar-first, div#sidebar-second {
    float: none;
    margin: 0;
    margin-bottom: 30px;
    padding: 10px;
    width: auto;
  }
}



