.zaalopstelling-full__content {
  display: grid;
  grid-template-columns: 38.2% 61.8%; /* golden ratio */
  gap: 1.618rem;
  align-items: start;
}

@media (max-width: 720px) {
  .zaalopstelling-full__content {
    grid-template-columns: 1fr;
  }
}

header.zaalopstelling-full__header {
    justify-items: center;
}

.zaalopstelling-full__diagram {
  justify-items: center;
}
.zaalopstelling-full__diagram svg,
.zaalopstelling-full__diagram img {
  width: 400px;
  padding: 0 32px;
  justify-self: center;
}

.zaalopstelling-full__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 32px;
}
.zaalopstelling-full__usage {
  font-style: italic;
  color: #555;
  text-align: center;
}

.zaalopstelling-full__description {
    line-height: 1.618;
    color: #333;
    font-size: 18px;
    text-align: center;
    border: 1px solid #b78700;
    padding: 16px 8px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px; height: 1px;
  padding: 0; margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}